<h1><%= @flat.name %></h1>

<ul>
  <li>Address: <i><%= @flat.address %></i> </li>
  <li>Description: <i><%= @flat.description %></i> </li>
  <li>Price/Night: <i><%= @flat.price_per_night %></i> </li>
  <li>Number of guests: <i><%= @flat.number_of_guest %></i> </li>
</ul>


